@use 'GameButton.module';
$size: GameButton.$size * 4;
$background-size: $size * 0.6;

.AnswerSelect {
    position: relative;
    width: $size;
    height: $size;
    
    .background {
        position: absolute;
        top: ($size - $background-size) * 0.5;
        left: ($size - $background-size) * 0.5;
        width: $background-size;
        height: $background-size;
    }

    .buttonWrapper {
        position: absolute;
        top: $size * 0.5;
        left: $size * 0.5;
        & > * {
            position: absolute;
            left: GameButton.$size * -0.5;
            top: GameButton.$size * -0.5;
        }
    }
}