@use 'GameButton.module';
$buttonContainerSize: GameButton.$size * 4;

.GameButtonContainer {
    position: relative;
    width: $buttonContainerSize;
    height: $buttonContainerSize;

    .buttonWrapper {
        position: absolute;
        top: $buttonContainerSize * 0.5;
        left: $buttonContainerSize * 0.5;
        & > * {
            position: absolute;
            left: GameButton.$size * -0.5;
            top: GameButton.$size * -0.5;
        }
    }
}