@use '../../styles/mixins/screen';

.Game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  min-width: screen.$small-width-min;

  .header {
    
  }
  .content {
    display: flex;
    flex: 1;
  }
  .footer {
    .rulesButton {
      
    }
  }
}
