$size: 70px;

.GameButton {
  border: 1px solid red;
  border-radius: $size * 0.5;
  width: $size;
  height: $size;
  font-size: 10pt;
  line-height: $size;
  text-align: center;
  
  &:hover {
    border-color: blue;
  }
}