@use '../../styles/theme/color';
@use '../../styles/mixins/screen';
@use '../../styles/fonts/barlow-semi-condensed';

.AnswerResult {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;

  .answerColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    
    p {
      @include barlow-semi-condensed.block-semibold;
      font-size: 14pt;
      color: white;
      text-align: center;
      white-space: nowrap;
    }

    .answerButton { }
  }
  
  .actionColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
      @include barlow-semi-condensed.block-semibold;
      color: white;
      text-align: center;
    }
    button {
      @include barlow-semi-condensed.block-semibold;
      color: color.$dark-text;
      background-color: white;
      line-height: 3em;
    }
  }
  
  @mixin _resize($button-size, $width: 100%, $font-size: 12pt) {
    width: 80%;
    gap: $button-size * 0.1;
    .answerColumn {
      font-size: $font-size;
      .answerButton {
        width: $button-size;
        height: $button-size;
      }
    }
  }

  @include _resize(30vmin, 60%);
  
  @include screen.landscape { @include _resize(35vh, 80%) }
  @include screen.desktop(landscape) { @include _resize(30vmin, 80%) }
  @include screen.laptop(landscape) { @include _resize(26vmin, 80%) }
  @include screen.phone(landscape) { @include _resize(25vmin, 100%, 10pt) }
  @include screen.small(landscape) { @include _resize(35vmin) }
  @include screen.smallest(landscape) { @include _resize(35vmin) }
  
  @include screen.portrait {
    @include _resize(30vw);
    .answerColumn {
      flex-direction: column-reverse;
      justify-content: flex-end;
      margin-top: 10vh;
    }
    .actionColumn {
      position: absolute;
      bottom: 15vh;
      left: 20%;
      right: 20%;
    }
  }
}