@use '../../styles/fonts/barlow-semi-condensed';
@use '../../styles/theme/color';

.RulesButton {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0.3em 2em;
  @include barlow-semi-condensed.block-semibold;
}