@use '../../styles/theme/color';
@use '../../styles/mixins/screen';
@use '../../styles/fonts/barlow-semi-condensed';

.GameHeader {
  border: 3px solid color.$header-outline;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 0 auto;

  width: 50%;
  height: 100%;

  .logo {
    height: 100%;
  }

  .score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 150px;

    & > *:nth-child(1) {
      @include barlow-semi-condensed.block-semibold;
      color: hsl(229, 64%, 46%);
      font-size: 16pt;
    }
    & > *:nth-child(2) {
      @include barlow-semi-condensed.block-semibold;
      color: color.$dark-text;
      font-size: 40pt;
      line-height: 45pt;
    }
  }

  @mixin _resizeWidth($width) {
    width: $width;
  }
  @mixin _resizeHeight($height, $scoreWidth, $scoreLabelFontSize, $scoreValueFontSize) {
    height: $height;
    .score {
      width: $scoreWidth;
      & > *:nth-child(1) {
        font-size: $scoreLabelFontSize;
      }

      & > *:nth-child(2) {
        font-size: $scoreValueFontSize;
        line-height: $scoreValueFontSize;
      }
    }
  }

  @include _resizeHeight(160px, 150px, 16pt, 45pt);
  @include screen.height-under(600px) { @include _resizeHeight(120px, 100px, 12pt, 30pt) }
  @include screen.height-under(550px) { @include _resizeHeight(100px, 90px, 9pt, 20pt) }

  @include _resizeWidth(50%);
  @include screen.width-under(screen.$laptop-width-max) { @include _resizeWidth(60%) }
  @include screen.width-under(screen.$phone-width-max)  { @include _resizeWidth(80%) }
  @include screen.width-under(screen.$small-width-max)  { @include _resizeWidth(95%) }
  
}
