@use '../../styles/theme/color';
@use '../../styles/mixins/screen';
@use '../../styles/fonts/barlow-semi-condensed';

.GameHeader {
  border: 3px solid color.$header-outline;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 0 auto;

  width: 50%;
  height: 100%;
  @include screen.width-under(screen.$laptop-width-max) { width: 60%; }
  @include screen.width-under(screen.$phone-width-max)  { width: 80%; } 
  @include screen.width-under(screen.$small-width-max)  { width: 90%; height: 120px; }

  .logo {
    height: 100%;
  }

  .score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    min-width: 150px;

    & > *:nth-child(1) {
      @include barlow-semi-condensed.block-semibold;
      color: hsl(229, 64%, 46%);
      font-size: 16pt;
    }
    & > *:nth-child(2) {
      @include barlow-semi-condensed.block-semibold;
      color: color.$dark-text;
      font-size: 40pt;
      line-height: 45pt;
    }

    @include screen.width-under(screen.$small-width-max) {
      min-width: 100px;
      & > *:nth-child(1) {
        font-size: 14pt;
      }
      & > *:nth-child(2) {
        font-size: 25pt;
        line-height: 25pt;
      }
    }
  }
  
}
